:root {
  --sky-400: 198 93% 60%;
  --sky-500: 199 89% 48%;
  --sky-950: 204 80% 16%;
  --fuchsia-400: 292 91% 73%;
  --fuchsia-500: 292 84% 61%;
  --emerald-500: 160 84% 39%;
  --emerald-300: 156 72% 67%;
  --emerald-600: 161 94% 30%;
  --emerald-700: 142 72% 29%;
  --amber-200: 48 97% 77%;
  --rose-500: 350 89% 60%;
  --slate-800: 217 33% 17%;
  --slate-900: 222 47% 11%;
  --slate-950: 229 84% 5%;
}

* {
  box-sizing: border-box;
}

#noise {
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

body {
  margin: 0;
  background-color: hsl(var(--slate-950));
  color: #fff;
  z-index: 0;
  padding: 1rem 1rem;
  position: relative;
  font-family: "Space Grotesk", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  font-size: 1rem;
  min-height: 100dvh;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -2;
  background: linear-gradient(to bottom, transparent 0, hsl(var(--slate-950)) 90dvh), linear-gradient(90deg, hsl(var(--sky-500) / .25) 0, hsl(var(--fuchsia-500) / .25) 100%);
}

nav {
  display: flex;
  padding: 0.75rem 2rem;
  gap: 2rem;
  position: relative;
  background-color: hsl(var(--slate-900) / .8);
  border: 2px solid black;
  border-radius: 0.5rem;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.125rem;
  max-width: calc(65ch * 1.5);
  width: 100%;
  margin: 0 auto;
}

nav > p {
  cursor: default;
}

a[href] {
  color: hsl(var(--sky-400));
  text-decoration: none;
  background: linear-gradient(to top, currentColor 0px, currentColor 100%);
  background-repeat: no-repeat;
  background-size: 0px 0.1em;
  background-position: bottom right;
  transition: background-size 200ms ease, color 200ms ease, transform 200ms ease;
}

a[href]:not(:has(svg)):hover {
  background-size: 100% 0.1em;
  background-position: bottom left;
}

a[href]:has(svg):hover {
  color: hsl(var(--sky-500));
  transform: scale(1.3);
}

section {
  max-width: 65ch;
  width: 100%;
  margin: 0 auto;
}

.splash {
  display: grid;
  grid-template-columns: 1fr 130px;
  grid-template-rows: repeat(3, max-content);
  row-gap: 1.25rem;
  column-gap: 2.5rem;
}

.splash>h1 {
  margin: 0px;
  align-self: center;
}

.splash>img {
  border-radius: 4px;
  border: 2px solid black;
  grid-row: 1 / -1;
  grid-column-start: 2;
  aspect-ratio: 31 / 41;
  width: 100%;
  align-self: center;
  object-fit: cover;
  overflow: hidden;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#education ul {
  list-style: none;
  margin: 0.5rem 0px;
}

h1 {
  font-size: 2.25rem;
  color: hsl(var(--emerald-300));
}

h2 {
  font-size: 1.75rem;
  color: hsl(var(--amber-200));
}

h3 {
  font-size: 1.375rem;
}

h1,
h2,
h3,
p,
ul,
dl {
  margin: 0px;
}

#skills ul {
  margin-left: -1.5rem;
}

h2,
h3 {
  text-align: center;
}

#education li,
dd {
  font-style: italic;
}

#experience>div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.splash>p {
  display: flex;
  flex-direction: column;
  align-self: center;
}

hr {
  max-width: calc(65ch * 1.5);
  border: none;
  height: 4px;
  border-radius: 8px;
  background-color: hsl(var(--slate-950));
  width: 100%;
  margin: 0 auto;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 2rem;
  justify-self: flex-end;
  flex-grow: 1;
}

a:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.three-col {
  /* position: absolute; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100dvw;
  max-width: calc(65ch * 1.5);
  margin-left: calc(65ch * -0.25);
  gap: 1.5rem;
  height: 100%;
}

.card {
  padding: 1rem 1.5rem;
  background-color: hsl(var(--slate-800));
  border-radius: 8px;
  border: 3px solid black;
  display: flex;
  /* Credit: https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: var(--sky-950);
  box-shadow:
    0.5px 0.5px 0.9px hsl(var(--shadow-color) / 0.12),
    1.4px 1.4px 2.5px -0.4px hsl(var(--shadow-color) / 0.15),
    2.5px 2.5px 4.5px -0.8px hsl(var(--shadow-color) / 0.18),
    4.5px 4.6px 8.1px -1.2px hsl(var(--shadow-color) / 0.2),
    8.3px 8.4px 14.9px -1.6px hsl(var(--shadow-color) / 0.23);
  flex-direction: column;
  gap: 0.5rem;
}

.card>img {
  border-radius: 6px;
  width: 100%;
  aspect-ratio: 3 / 2;
  margin-bottom: 0.5rem;
  border: 2px solid black;
  background-color: hsl(var(--slate-950));
}

.card ul {
  margin-left: -1rem;
  font-size: 0.925rem;
}

.one-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  gap: 3.125rem;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label>span {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.875rem;
  padding: 0 2px;
}

input,
textarea {
  appearance: none;
  font-size: 1rem;
  border-radius: 4px;
  border: 2px solid hsl(var(--sky-500) / .25);
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  background-color: hsl(var(--slate-950) / .5);
  color: white;
}

input:focus,
textarea:focus {
  border-color: hsl(var(--sky-400));
  outline: none;
}

button {
  align-self: center;
  padding: 0.625rem 3.25rem;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: bold;
  color: white;
  --gradient-terminus: bottom;
  background: linear-gradient(to var(--gradient-terminus), hsl(var(--emerald-500) / 10%), hsl(var(--emerald-600) / 30%));
  border: 2px solid hsl(var(--emerald-600));
  border-bottom-width: 6px;
  border-radius: 8px;
  cursor: pointer;
  appearance: none;
}

button:hover {
  margin-top: 4px;
  border-bottom-width: 2px;
}

button:active {
  --gradient-terminus: top;
}

label:has([required])>span::after {
  content: "*";
  color: hsl(var(--rose-500));
  margin-left: 1px;
}