.nav {
  display: flex;
  padding: 0.75rem 2rem;
  gap: 2rem;
  position: relative;
  background-color: hsl(var(--slate-900) / .8);
  border: 2px solid black;
  border-radius: 0.5rem;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.125rem;
  max-width: calc(65ch * 1.5);
  width: 100%;
  margin: 0 auto;
}

.nav > p {
  cursor: default;
}