.splash {
  display: grid;
  grid-template-columns: 1fr 130px;
  grid-template-rows: repeat(3, max-content);
  row-gap: 1.25rem;
  column-gap: 2.5rem;
}

.splash > h1 {
  margin: 0px;
  align-self: center;
}

.splash > figure {
  border-radius: 4px;
  border: 2px solid black;
  grid-row: 1 / -1;
  grid-column-start: 2;
  aspect-ratio: 31 / 41;
  width: 100%;
  align-self: center;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.splash > p {
  display: flex;
  flex-direction: column;
  align-self: center;
}